:root {
  --primary-color: #064789;
  --pos-color: #6BCC1D;
  --neg-color: #FF3224;
  --highlight-color: #0A85FF;
  --text-color: #404040;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
