.field {
  padding-bottom: .5rem;
  max-height: 0;
  overflow: hidden;  
}

.hidden {  
  animation: shrink 1s ease-in-out forwards;
}

.visible {  
  animation: expand 1s ease-in-out forwards;
}

.field button:not(:last-child) {
  margin-right: 2rem;
}

@keyframes expand {
  to {
    max-height: 230px;
  }
}

@keyframes shrink {
  from {
    max-height: 230px;
  }
  to {
    max-height: 0;
  }
}